<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:if="${classTeacherEntity.id == null}">Add Class Teacher</title>
    <title th:if="${classTeacherEntity.id != null}">Edit Class Teacher</title>
    <!-- Include stylesheets -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
    <link href="/css/nucleo-icons.css" rel="stylesheet" />
    <link href="/css/nucleo-svg.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link id="pagestyle" href="/css/material-dashboard.css?v=3.1.0" rel="stylesheet" />
</head>
<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gradient-dark" id="sidenav-main">
  <div class="sidenav-header">
    <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
    <a class="navbar-brand m-0" href="#">
      <img src="assets/img/logo-ct.png" class="navbar-brand-img h-100" alt="main_logo">
      <span class="ms-1 font-weight-bold text-white">HYROOKIN</span>
    </a>
  </div>
  <div class="collapse navbar-collapse w-auto" id="sidenav-collapse-main">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-white" href="/classes">
          <i class="material-icons opacity-10">class</i>
          <span class="nav-link-text ms-1">Classes</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/teachers">
          <i class="material-icons opacity-10">person</i>
          <span class="nav-link-text ms-1">Teachers</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/students">
          <i class="material-icons opacity-10">school</i>
          <span class="nav-link-text ms-1">Students</span>
        </a>
      </li>
    </ul>
  </div>
</aside>

<body class="g-sidenav-show bg-gray-200">
    <div class="main-content position-relative max-height-vh-100 h-100">
        <div class="container-fluid py-4">
            <div class="row justify-content-center">
                <div class="col-lg-8 mb-4">
                    <div class="card">
                        <div class="card-header pb-0">
                            <h6 th:text="${classTeacherEntity.id == null} ? 'Add Class Teacher' : 'Edit Class Teacher'"></h6>
                        </div>
                        <div class="card-body px-4 pb-2">
                            <form th:action="${classTeacherEntity.id == null} ? @{/teachers/add} : @{/teachers/{id}/edit(id=${classTeacherEntity.id})}" th:object="${classTeacherEntity}" method="post">
                                <input type="hidden" th:field="*{id}">
                                <div class="form-group">
                                    <label for="name">Name:</label>
                                    <input type="text" id="name" th:field="*{name}" class="form-control" required>
                                </div>
                                <!-- Updated dropdown for selecting a class using select tag -->
                                <div class="form-group">
                                    <label for="selectedClassId">Class:</label>
                                    <select id="selectedClassId" name="selectedClassId" class="form-control">
                                        <option value="">--Select a Class--</option>
                                        <option th:each="class : ${classes}" th:value="${class.id}" th:text="${class.name}"></option>
                                    </select>
                                </div>
                                <div class="form-group mt-3">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <a th:href="@{/teachers}" class="btn btn-secondary">Back to List</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Core JS Files -->
    <script src="/assets/js/core/popper.min.js"></script>
    <script src="/assets/js/core/bootstrap.min.js"></script>
    <script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="/assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script src="/assets/js/plugins/chartjs.min.js"></script>
</body>
</html>
